<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title %>
    </title>

    <!-- Tailwind CSS (CDN) -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Optional: Custom CSS -->
    <style>
        body {
            background-color: #f8f9fa;
        }
    </style>
</head>

<body class="bg-gray-100">
    <div class="container mx-auto mt-10 p-5">
        <div class="bg-white shadow-md rounded-lg p-8">
            <h1 class="text-3xl font-bold text-center text-gray-800 mb-2">Link-lite</h1>
            <p class="text-center text-gray-500 mb-8">A fast and efficient URL shortener with secure, one-time-use
                links for simplified sharing.</p>

            <form id="shortUrlForm" class="flex flex-col sm:flex-row items-center gap-4">
                <input type="url" id="longUrl" name="longUrl"
                    class="flex-grow w-full px-4 py-3 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
                    placeholder="Enter a long URL to shorten" required>
                <button type="submit"
                    class="w-full sm:w-auto bg-blue-600 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 transition duration-300"><i
                        class="fas fa-paper-plane"></i></button>
            </form>

            <div id="result" class="mt-6"></div>
        </div>
    </div>

    <script>
        const apiUrl = '<%= apiUrl %>';

        // Shorten URL form submit
        document.getElementById('shortUrlForm').addEventListener('submit', async function (e) {
            e.preventDefault();

            const longUrl = document.getElementById('longUrl').value;
            const response = await fetch(`${apiUrl}/api/url/generate`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ longUrl })
            });

            const apiResponse = await response.json();
            if (apiResponse.type === 'error') {
                document.getElementById('result').innerHTML = `<div class="alert alert-danger">${apiResponse.message}</div>`;
            } else {
                let shortUrlApi = `${apiResponse.data.redirectUrl}`;
                document.getElementById('result').innerHTML = `
            <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative">
                <div class="flex justify-between items-center">
                    <div>
                        <p class="font-bold">Shortened URL:</p>
                        <a href="${shortUrlApi}" target="_blank" class="text-blue-500 hover:underline">${shortUrlApi}</a>
                    </div>
                    <button onclick="copyToClipboard('${shortUrlApi}')" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        <i class="fas fa-copy"></i>
                    </button>
                </div>
                <div class="flex justify-between items-center mt-2">
                    <div>
                        <p class="text-sm mt-2">Original URL:</p>
                        <a href="${apiResponse.data.longUrl}" target="_blank" class="text-gray-500 hover:underline">${apiResponse.data.longUrl}</a>
                    </div>
                    <button onclick="copyToClipboard('${apiResponse.data.longUrl}')" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
                        <i class="fas fa-copy"></i>
                    </button>
                </div>
            </div>
        `;
            }
        });

        function copyToClipboard(text) {
            navigator.clipboard.writeText(text).then(function () {
                alert('Copied to clipboard!');
            }, function (err) {
                alert('Could not copy text: ', err);
            });
        }
    </script>

</body>

</html>